<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Reactive All The Way Down</title>

		<meta name="description" content="">
		<meta name="author" content="James Ward">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
        
        <style type="text/css">
            .reveal .controls {
                bottom: auto;
                top: 0px;
            }
        </style>

	</head>

	<body>
    
        <aside style="display: block; position: fixed; bottom: 5px; left: 10px; z-index: 30;">
            <a href="http://typesafe.com"><img src="assets/logo.png"></a>
        </aside>

        <aside style="display: block; position: fixed; bottom: 10px; right: 10px; z-index: 30;">
            <a href="https://twitter.com/_JamesWard" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @_JamesWard</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </aside>

		<div class="reveal">

			<div class="slides">
            
                <section>
                    <h2>Reactive All The Way Down</h2>
                    <p>
                        <small><a href="http://www.jamesward.com">James Ward</a> ~ <a href="http://twitter.com/_jamesward">@_JamesWard</a></small>
                    </p>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ### Blocking Request
            
                            def foo = Action {
                              Ok("foo")
                            }
            
                        ### Async Request
            
                            def foo = Action.async {
                                Future.successful(Ok("foo"))
                            }
                    </script>
                </section>
                
                <section data-markdown>
                    <script type="text/template">
                        ### Reactive Request (Async + Non-Blocking)
            
                            def pause(duration: Int) = Action.async {
                              Promise.timeout(Ok(duration.toString), duration seconds)
                            }
            
                        ### Reactive WS Client
            
                            val f: Future[Response] = WS.url("http://www.foo.com").get
                    </script>
                </section>
                
                <section data-markdown>
                    <script type="text/template">
                        ### Reactive Composition
            
                            def foo = Action.async {
                              val futureResponse = WS.url("http://www.foo.com").get
                              futureResponse.map { response =>
                                Ok(response.body)
                              }
                            }
                    </script>
                </section>
                
                <section data-markdown>
                    <script type="text/template">
                        ### Reactive Composition
            
                            def foo = Action.async {
                              val futureJW = WS.url("http://www.jamesward.com").get
                              val futureTwitter = WS.url("http://www.twitter.com").get
                              for {
                                jw <- futureJW
                                twitter <- futureTwitter
                              } yield Ok(jw.response.body + twitter.response.body)
                            }
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ### Reactive JSON Services

                            def tweets(q: String) = Action.async {
                                val futureResponse = WS.url(s"http://twitter-search-proxy.herokuapp.com/search/tweets?q=$q").get()
                                futureResponse.map { response =>
                                    Ok(JsArray((response.json \\ "text").distinct))
                                }
                            }
                    </script>
                </section>

                <section>
                    <section>
                        <h3>Angular & Bootstrap UI</h3>
                        <pre><code>"org.webjars" %% "webjars-play" % "2.3-M1",
"org.webjars" % "bootstrap" % "3.1.1",
"org.webjars" % "angularjs" % "1.2.16"</code></pre>
                        <pre><code>&lt;link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))"&gt;
&lt;script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"&gt;&lt;/script&gt;
&lt;script src="@routes.Assets.at("main.js")"&gt;&lt;/script&gt;</code></pre>
                    </section>
                    <section data-markdown>
                        <script type="text/template">
                            ### Angular & Bootstrap UI
    
                                <nav class="navbar navbar-default navbar-static-top" role="navigation">
                                    <div class="container-fluid">
                                        <a class="navbar-brand" href="#">Go Reactive</a>
                                    </div>
                                </nav>
                                <div class="container">
                                    <div ng-controller="Hello">
                                        <form ng-submit="sendName()">
                                            <label>Name:</label>
                                            <input type="text" ng-model="yourName">
                                            <input class="btn-primary" type="submit" value="Send">
                                        </form>
                                        <ul><li ng-repeat="tweet in tweets">{{tweet}}</li></ul>
                                    </div>
                                </div>
                        </script>
                    </section>
                    <section data-markdown>
                        <script type="text/template">
                            ### Angular & Bootstrap UI

                                angular.module('myApp', []).
                                    controller('Hello', function($scope, $http, $timeout) {

                                        $scope.msg = "";
        
                                        $scope.sendName = function() {
                                            $http({method: 'GET', url: '/tweets', params: {q: $scope.yourName}}).
                                                success(function(data) {
                                                    $scope.tweets = data;
                                                });
                                        };
        
                                    });
                        </script>
                    </section>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ### Request Handling with Actors

                        Controller:

                            def tweets(q: String) = Action.async {
                                val actorRef = Akka.system.actorOf(Props[TwitterActor])
                                (actorRef ? q).map {
                                    case j: JsArray => Ok(j)
                                }
                            }

                        Actor:

                            def receive = {
                                case s: String =>
                                    val futureResponse = WS.url(s"http://twitter-search-proxy.herokuapp.com/search/tweets?q=$s").get()
                                    futureResponse.map { response =>
                                        JsArray((response.json \\ "text").distinct)
                                    } pipeTo sender
                            }
                    </script>
                </section>
                
                <section data-markdown>
                    <script type="text/template">
                        ### Resilient Futures

                            future.recover {
                                case Exception =>
                                    Logger.error("Failed!")
                                    InternalServerError("Boum!")
                            }
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ### 2-Way Reactive with WebSockets

                            def echoWs = WebSocket.using[String] { request =>
                              val (enumerator, channel) = Concurrent.broadcast[String]
                              val in = Iteratee.foreach[String](channel.push)
                              (in, enumerator)
                            }
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ### Angular with WebSockets

                        Template:
                        
                            <h2>{{msg}}</h2>

                        Controller:

                            $scope.socket = new WebSocket("ws://localhost:9000/echo-ws");
                            $scope.socket.onmessage = function(msg) {
                                $timeout(function() { $scope.msg = "hello, " + msg.data; });
                            };

                            $scope.socket.send($scope.yourName);
                    </script>
                </section>
                
                <section data-markdown>
                    <script type="text/template">
                        ### WebSocket Handling with Actors
                        
                        Controller:
                            
                            def echoWs = WebSocket.acceptWithActor[String, String] { request => out =>
                                Props(classOf[EchoActor], out)
                            }
                        
                        Actor:
                            
                            class EchoActor(out: ActorRef) extends Actor {
    
                                def receive: Receive = {
                                    case s: String => out ! s
                                }
    
                            }
                    </script>
                </section>
            
                <section>
                    <h3>Further Learning</h3>
                    
                        <p>Activator Templates</p>
                        <ul>
                            <li><a href="http://typesafe.com/activator/template/modern-web-template">AngularJS Play Mongo</a></li>
                            <li><a href="http://typesafe.com/activator/template/play-mongo-knockout">Play, Reactive Mongo &amp; KnockoutJS</a></li>
                            <li><a href="http://typesafe.com/activator/template/reactive-maps">Reactive Maps</a></li>
                        </ul>
                        
                        <p>Other</p>
                        <ul>
                            <li>Book: <a href="http://typesafe.com/resources/free-books">Reactive Design Patterns</a></li>
                            <li>Coursera: <a href="https://www.coursera.org/course/reactive">Principles of Reactive Programming</a></li>
                        </ul>
                </section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
